<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pr_idi.mydatabaseexample">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash_screen"
            android:theme="@style/MyTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Item"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pr_idi.mydatabaseexample.MainActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pr_idi.mydatabaseexample.MainActivity" />
        </activity>
        <activity
            android:name=".llista_categoria"
            android:parentActivityName=".NewActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pr_idi.mydatabaseexample.NewActivity" />
        </activity>
        <activity
            android:name=".NewActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category." />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pr_idi.mydatabaseexample.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category." />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pr_idi.mydatabaseexample.MainActivity" />
        </activity>
        <activity
            android:name=".Create"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category." />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pr_idi.mydatabaseexample.HelpActivity" />
        </activity>
        <activity
            android:name=".Edit"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category." />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pr_idi.mydatabaseexample.HelpActivity" />
        </activity>
        <activity
            android:name=".Delete"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category." />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pr_idi.mydatabaseexample.HelpActivity" />
        </activity>
        <activity
            android:name=".Search"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category." />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pr_idi.mydatabaseexample.HelpActivity" />
        </activity>
        <activity
            android:name=".Sort"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category." />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pr_idi.mydatabaseexample.HelpActivity" />
        </activity>
        <activity android:name=".SettingsActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category." />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pr_idi.mydatabaseexample.MainActivity" />
        </activity>
    </application>

</manifest>